[submodule "bash"]
	path = bash
	url = https://github.com/PopeNobody/bash.git
[submodule "make"]
	path = make
	url = git@github.com:PopeNobody/make.git
[submodule "libpwent"]
	path = libpwent
	url = git@github.com:PopeNobody/libpwent
[submodule "libevent"]
	path = libevent
	url = git@github.com:PopeNobody/libevent
